* {
    font-family: 'Heebo', sans-serif;
}

/* top navigation */

.top .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top .navbar-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}

/* navigation */

.navbar-brand img {
    width: 250px;
    height: 40px;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-collapse .me-auto a {
    font-size: 1.2rem;
} 

/* hero */

.hero {
    width: 100%;
    min-height: 700px;
    background-image: url(./images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    padding: 2rem;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Archivo Black', sans-serif !important;
}

/* servicios */

.servicios {
    padding: 4rem;
    min-height: 800px;
}

.servicios .divider {
    min-height: 40px;
}

.servicios h2 {
    font-weight: 400;
    font-size: 2.5rem;
}

.servicios .items {
    padding: 2rem;
}

.servicios .items svg {
    color: #333381;
}

/* dual container */

.dual {
    padding-bottom: 4rem;
}

.dual .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 0px !important;
    border: none !important;
}

.card img {
    opacity: 0.8;
    min-width: 300px;
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body div {
    font-size: large;
    font-weight: 800;
}

.card .card-body {
    font-size: small;
    font-weight: 400;
}


/* footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
  }
  
  .footer h4 {
    margin-bottom: 1rem;
  }

  .footer .socials {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  /* formulario */

.formulario {
    min-height: 600px;
    background-color: #03455e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.formulario h1 {
    font-weight: 400;
}

.formulario .container {
    width: 35%;
    margin: 1rem;
}

/* media querys */

@media screen and (max-width: 800px) {
    body .top {
      display: none;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .formulario .container {
        width: 100%;
    }
  }